# Creado por https://www.gitignore.io/api/osx,macos,windows
# Editar en https://www.gitignore.io/?templates=osx,macos,windows

### Mac OS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# El icono debe terminar con dos
Icono

# Miniaturas
._ *

# Archivos que pueden aparecer en la raíz de un volumen.
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Artículos temporales
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directorios potencialmente creados en el recurso compartido AFP remoto
.AppleDB
.AppleDesktop
Carpeta de basura de red
Artículos temporales
.apdisk

### OSX ###
# General

# El icono debe terminar con dos

# Miniaturas

# Archivos que pueden aparecer en la raíz de un volumen.

# Directorios potencialmente creados en el recurso compartido AFP remoto

### Windows ###
# Archivos de caché de miniaturas de Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Archivo de volcado
* .stackdump

# Carpeta archivo de configuración
[Dd] esktop.ini

# Papelera de reciclaje usada en archivos compartidos
$ RECICLAR.BIN /

# Archivos de Windows Installer
*.taxi
* .msi
* .msix
* .msm
* .msp

# Atajos de Windows
* .lnk

# Fin de https://www.gitignore.io/api/osx,macos,windows
